/* line 3, ../scss/_sticky_footer.scss */
HTML, BODY {
  height: 100%;
}

/* line 7, ../scss/_sticky_footer.scss */
#page {
  min-height: 100%;
  position: relative;
  margin-top: 1em;
}

/* line 13, ../scss/_sticky_footer.scss */
#section-content {
  background: transparent;
  padding-bottom: 55px;
  margin-bottom: 20px;
}

/* line 19, ../scss/_sticky_footer.scss */
#section-footer {
  background: black url("/sites/all/themes/leonarte/css/images/grecas.jpg") no-repeat left top;
  position: absolute;
  bottom: 0;
  width: 100%;
}
