@import "variables";

/* -- flexslider -- */
.flexslider {
  background: transparent;
  border: 0 none;

  .slides img {
    width: initial;
    margin: 0 auto;
  }
}
.flex-control-thumbs {
  width: 80%;
  margin: 0 auto 1.5em;
  // margin-bottom: 1.5em;

  img {
    opacity: 1;
  }
}
.flex-control-thumbs li {
  width: initial;
  margin: 4px 5px;
  border: 1px solid #373737;
}
.flex-active-slide {
  .field-content.obra-title {
    height: 0;
  }
  .transparency {
    background: $black;
    opacity: 0.9;
    height: 60px;
    position: relative;
    top: -60px;
  }
  .obra {
    font-size: 90%;
    position: relative;
    top: -125px;
    padding: 10px;
    height: 0;
  }
  .obra-info {
    font-size: 70%;
    position: relative;
    top: -60px;
    padding: 10px 15px;
    height: 0;
  }
}
