@import "variables";

/* -- main menu -- */
ul.menu {
  li {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.2em;
    line-height: 1.2em;
    list-style-image: none;
    list-style-type: none;
    padding: 5px 10px;
    margin: 0 0;
    display: inline-block;

    span.nolink {
      font-size: 1.2em;
      line-height: 1.2em;
    }
  }

  li.leaf {
    &.active-trail {
      @include background-image(linear-gradient($gradient_start, $gradient_end));
    }
  }

  a.active {
    color: $whiteish;
  }

  li.expanded {

    ul.menu {
      border-top: 1px solid $gray;
    }
  }
}

/* custom media queries */
@media screen and (min-width: 320px) and (max-width:638px) {
  ul.menu li.expanded {
    width: 95%;
  }
}
