/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

@import "compass/css3";
@import "variables";
@import "menu_mobile";
@import "flexslider";

html {
  background: $black;
}

body {
  background: transparent;
  color: $gray;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 140%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
  color: $gray;
}

a, a:link, a:visited {
  color: $gray;
  text-decoration: none;
}

/* -- zones --- */
.zone {
  margin-bottom: 1em;
}
.block {
  margin-bottom: 1em;
}


/* -- content --- */
h1.title {
  display: none;
}
#node-page-252 {
  text-align: right;
}
.handwritten {
  font-family: 'Kaushan Script', cursive;
  margin-top: 0.7em;

  span {
    font-family: 'Noto Serif', serif;
    font-size: 75%;
    margin-left: 10px;
  }
}


/*-- footer -- */
.signature {
  float: right;
}

#section-footer {
  background: $black url('/sites/all/themes/leonarte/css/images/grecas.jpg') no-repeat left top;
  position: relative;
  bottom: 0;
}
